body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
}

.logo-link {
    display: inline-block;
}

.logo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
}
